@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500;600;700&family=Oswald:wght@300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.container{
  width: 500px;
  height: 550px;
  background-color: #17172a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.game-detailes{
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}

.play-borad{
  width: 100%;
  height: 100%;
  background-color: #151523;
  display: grid;
  grid-template: repeat(30,1fr) / repeat(30,1fr);
}
.food{
  background-color: rgb(245, 68, 68);
}
.snake{
  background-color: rgb(40, 127, 240);
}